header {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;  
    border-bottom: 1px solid #e2e2e2
}

.nav-text{
    font-family: nyt-franklin, helvetica, arial, sans-serif;
}

.nav a{
    text-decoration: none;
    font-weight: 600;
    color: black;
    padding-right: 20px;
}

.buttons a{
    background-color: #6288a5;
    padding: 10px;
    color: white;
    border-radius: 3px;
    text-decoration: none;
    font-family: helvetica,arial,sans-serif;
    font-size: 11px;
    font-weight: 700;
}

header >* {

}